* {
	padding: 0;
	margin: 0;
}
body {
	width: 300px !important;
	background-color: #f2f1f0;
}
.hidden {
	display: none;
}
.input-error {
	background-color: #910707;
	color: #000;
}
.top {
	cursor: pointer;
	width: 100vw;
	height: 80px;
	background-image: url('../images/png/ic_launcher48x48.png');
	background-size: 48px 48px;
	background-repeat: no-repeat;
	background-position: center;
}
.packetlist {
}
	.packetlist .center {
	}
	.packetlist .center .no-packets {
		width: 100vw;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		color: #141414;
		margin-bottom: 15px;
	}
		.packetlist .center .item:hover  {
			background-color: #141414;
			color:#fff;
		}
		.packetlist .center .item  {
			width: calc(100vw - 10vw);
			padding-left: 5vw;
			padding-right: 5vw;
			padding-top: 10px;
			padding-bottom: 10px;
			cursor: pointer;
			color: #141414;
		}
			.packetlist .center a {
				text-decoration: none;
				color:#141414;
			}
				.packetlist .center .item .headline {
					text-overflow: ellipsis;
	  			  	overflow:hidden !important;
					white-space: nowrap;
					font-weight: bold;
					font-size: 17px;
					margin-top: 10px;
				}
				.packetlist .center .item .body {
				}
				.packetlist .center .item .created {
					text-overflow: ellipsis;
	  			  	overflow:hidden !important;
					white-space: nowrap;
					font-size: 10px;
					font-weight: bold;
					text-align: right;
				}
.settingsview {

}
	.settingsview .center {
		width: 300px;
		height: 50px;
		background-color: #141414;
	}
		.settingsview .center .btnClearPackets {
			width: 280px;
			height: 40px;
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 10px;
			margin-right: 10px;
			background-color: #c40404;
			font-size: 20px;
			color:#fff;
			border:1px solid #c40404;
			border-radius: 10px;
			cursor: pointer;
		}
			.settingsview .center .btnClearPackets:hover {
				text-decoration: underline;
			}